@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #141414;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
  margin: 0;
  font-weight: 300; }

h1 {
  font-size: 3rem;
  color: #565e6a; }

h2 {
  color: #141414;
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

img {
  display: block;
  width: 100%;
  height: auto; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 25px; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }

.nav-mobil-icon {
  fill: #363f48;
  width: 25px;
  height: 25px;
  margin-left: 25px;
  cursor: pointer; }

.logo {
  color: #141414;
  font-family: "Noto Serif", serif;
  font-size: 2.1rem; }

.primary-nav-links li {
  margin-right: 25px; }
  .primary-nav-links li a {
    font-size: 1.1rem;
    color: #565e6a; }

.secondary-nav-link li {
  margin-right: 25px; }
  .secondary-nav-link li a {
    font-size: .9rem;
    color: #363f48;
    text-transform: uppercase; }
    .secondary-nav-link li a.btn-link {
      border: 1.5px solid #e7e7e7;
      padding: 5px 10px; }

@media screen and (max-width: 768px) {
  .primary-nav-links {
    display: none; }
  .secondary-nav-link li {
    display: none; }
  .secondary-nav-link li:nth-of-type(3) {
    display: inline-block; } }

@media screen and (max-width: 600px) {
  .secondary-nav-link {
    display: none; } }

header {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative; }

.top-content-block {
  width: 100%;
  min-height: 35vh;
  position: relative; }
  .top-content-block h1 {
    position: absolute;
    bottom: 0;
    left: 150px;
    z-index: 2; }
    .top-content-block h1::after {
      content: '';
      display: block;
      background-color: #f0f0f0;
      width: 80%;
      height: 250px;
      position: absolute;
      top: 50%;
      left: -100px;
      transform: translateY(-50%);
      z-index: -1; }
  .top-content-block .primary-btn {
    top: 100%;
    transform: translateY(-50%);
    right: 50px; }

.bottom-content-block {
  position: relative;
  width: 100%;
  min-height: 65vh;
  margin: 0;
  z-index: 1; }
  .bottom-content-block > figcaption {
    position: absolute;
    bottom: 30%;
    right: 150px; }
    .bottom-content-block > figcaption > h2, .bottom-content-block > figcaption p {
      color: #ffffff; }

@media screen and (max-width: 1024px) {
  .top-content-block h1 {
    width: 65%; }
  .bottom-content-block > figcaption {
    bottom: 25%;
    right: 100px; } }

@media screen and (max-width: 600px) {
  .top-content-block h1 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0; }
  .bottom-content-block > figcaption {
    display: none; } }

main {
  position: relative;
  margin: 0;
  padding: 0; }

/*Home page section background stlyes*/
.bg-texture {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: repeat; }

.bg-image {
  background-image: url("../images/section-two-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.89); }

.bg-color {
  background-color: #f0f0f0; }

/*Home page main button stlye*/
.primary-btn {
  border: none;
  background-color: #363f48;
  color: #ffffff;
  position: absolute;
  width: 150px;
  height: 150px;
  text-align: right;
  cursor: pointer;
  z-index: 5; }
  .primary-btn > p {
    text-align: left;
    font-size: 1.1rem;
    margin: 0 0 35px 10px;
    line-height: 1.5; }
  .primary-btn > small {
    text-transform: uppercase;
    margin-right: 10px; }

.section-one {
  position: relative;
  width: 100%;
  min-height: 80em; }

.floating-box {
  position: absolute;
  width: 85%;
  height: auto;
  margin-bottom: 100px;
  background-color: #f0f0f0;
  bottom: 0;
  left: 0;
  z-index: 2; }
  .floating-box > img {
    display: block;
    width: 500px;
    height: auto;
    margin: 25px 25px 25px 50%; }

.content-card {
  width: 50%;
  height: 500px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  padding: 50px 70px; }
  .content-card ul {
    list-style: none;
    margin: 40px 0 0;
    padding: 0; }
    .content-card ul li {
      display: grid;
      grid-template-columns: 200px 1fr;
      margin-bottom: 25px; }
      .content-card ul li p {
        margin: 0; }
        .content-card ul li p small {
          display: block;
          color: #565e6a; }

.card-title {
  display: inline-block;
  width: 59%; }

.card-link {
  display: inline-block;
  width: 39%;
  text-align: right;
  text-transform: uppercase;
  color: #141414; }

.list-date {
  color: #565e6a;
  font-family: "Noto Serif", serif;
  font-size: 1.4rem; }

@media screen and (max-width: 1024px) {
  .section-one {
    min-height: 60em; }
  .floating-box > img {
    width: 400px; } }

@media screen and (max-width: 768px) {
  .section-one {
    min-height: 45em; }
  .floating-box {
    width: 100%; }
    .floating-box > img {
      width: 350px; }
  .content-card {
    width: 65%;
    left: 25px; } }

@media screen and (max-width: 600px) {
  .floating-box {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    top: 0;
    left: 0; }
    .floating-box > img {
      width: 100%;
      height: auto;
      margin: 0; }
  .content-card {
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .content-card ul li {
      grid-template-columns: 130px 1fr; } }

.section-two {
  position: relative;
  width: 100%;
  min-height: 20em; }
  .section-two > .primary-btn {
    bottom: 3em;
    left: 55%; }

@media screen and (max-width: 768px) {
  .section-two > .primary-btn {
    bottom: 0;
    left: 75%; } }

@media screen and (max-width: 600px) {
  .section-two > .primary-btn {
    bottom: 0;
    left: 0; } }

.section-three {
  position: relative;
  width: 100%;
  height: 65em;
  padding-top: 50px; }

.section-three > .big-card {
  position: absolute;
  top: -5em;
  left: 100px;
  width: 50%;
  height: auto;
  background-color: #ffffff;
  padding: 50px 70px;
  z-index: 4; }
  .section-three > .big-card > .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    .section-three > .big-card > .card-header > p {
      margin: 0;
      color: #565e6a;
      font-size: 1.5rem;
      font-family: "Noto Serif", serif;
      text-align: right; }
      .section-three > .big-card > .card-header > p > small {
        display: block;
        font-size: .8rem;
        text-transform: uppercase;
        margin-top: 5px; }
  .section-three > .big-card > .card-body {
    line-height: 1.55;
    margin-bottom: 35px; }
  .section-three > .big-card > .card-footer {
    text-transform: uppercase;
    color: #565e6a;
    font-weight: bold; }
    .section-three > .big-card > .card-footer small {
      margin-right: 50px; }

.section-three > .quote {
  width: 30%;
  margin-left: 65%;
  text-align: center;
  padding: 50px 50px 150px;
  position: relative; }
  .section-three > .quote::before {
    content: 'â';
    color: #565e6a;
    font-size: 5rem;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .8; }
  .section-three > .quote > p {
    text-align: center;
    line-height: 1.55;
    margin-bottom: 25px;
    color: #565e6a;
    opacity: .8; }
  .section-three > .quote > small {
    text-transform: uppercase;
    color: #565e6a;
    font-weight: bold; }

.section-three > .small-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  margin: 0 auto; }

.small-card-wrapper > .small-card {
  width: 49%;
  background-color: #ffffff;
  z-index: 10; }
  .small-card-wrapper > .small-card:nth-of-type(1) {
    margin-right: 50px; }
  .small-card-wrapper > .small-card img {
    width: 100%;
    height: auto;
    margin-bottom: 50px; }
  .small-card-wrapper > .small-card > .card-body {
    padding: 0 50px 50px;
    color: #565e6a; }
    .small-card-wrapper > .small-card > .card-body p {
      line-height: 1.55;
      margin: 35px 0; }
    .small-card-wrapper > .small-card > .card-body a {
      color: #565e6a;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .8rem; }

@media screen and (max-width: 1024px) {
  .section-three {
    height: 75em; }
  .section-three > .small-card-wrapper {
    margin-top: 50px; } }

@media screen and (max-width: 768px) {
  .section-three {
    height: auto;
    padding-top: 0; }
  .section-three > .big-card {
    position: relative;
    top: 0;
    left: 0;
    width: 90%; }
  .section-three > .quote {
    width: 70%;
    margin: 0 auto;
    padding: 50px; }
  .section-three > .small-card-wrapper {
    width: 100%;
    margin-top: 0;
    flex-direction: column;
    align-items: center; }
    .section-three > .small-card-wrapper > .small-card {
      width: 80%; }
      .section-three > .small-card-wrapper > .small-card:nth-of-type(1) {
        margin-right: 0;
        margin-bottom: 25px; } }

@media screen and (max-width: 600px) {
  .section-three > .big-card {
    width: 100%; }
  .section-three > .quote {
    width: 90%;
    margin: 0 auto; } }

.section-four {
  width: 100%;
  padding-top: 15em;
  position: relative;
  z-index: 5; }

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }
  .gallery li {
    width: 500px; }
    .gallery li img {
      width: 100%;
      height: auto; }

@media screen and (max-width: 768px) {
  .section-four {
    padding-top: 8em; } }

@media screen and (max-width: 600px) {
  .gallery {
    flex-wrap: wrap; }
    .gallery li {
      width: 100%; }
      .gallery li img {
        margin: 0 auto; } }

footer {
  background-color: #f0f0f0;
  padding: 100px; }
  footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 25px;
    padding: 0; }

.primary-link-row li:nth-of-type(1) {
  margin-right: 150px; }

.primary-link-row li {
  margin-right: 25px; }
  .primary-link-row li > a {
    color: #565e6a;
    font-size: 1.1rem; }

.secondary-link-row li:nth-of-type(1) {
  margin-right: 150px; }

.secondary-link-row li {
  margin-right: 25px;
  opacity: .9; }
  .secondary-link-row li > a {
    color: #565e6a;
    font-size: .8rem; }

@media screen and (max-width: 768px) {
  footer {
    padding: 50px 25px; }
  .primary-link-row li:nth-of-type(1),
  .secondary-link-row li:nth-of-type(1) {
    margin-right: 100px; } }

@media screen and (max-width: 600px) {
  footer ul {
    display: grid;
    justify-content: left; }
  .primary-link-row {
    margin-bottom: 50px; }
    .primary-link-row li:nth-of-type(1) {
      margin-right: 0;
      margin-bottom: 15px; }
    .primary-link-row li {
      margin-right: 0;
      margin-bottom: 25px; }
  .secondary-link-row li:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 15px;
    order: 10; }
  .secondary-link-row li {
    margin-right: 0;
    margin-bottom: 25px; } }
