.section-three {
    position: relative;
    width: 100%;
    height: 65em;
    padding-top: 50px;
}
.section-three > .big-card {
    position: absolute;
    top: -5em;
    left: 100px;
    width: 50%;
    height: auto;
    background-color: $c-wihte;
    padding: 50px 70px;
    z-index: 4;

    > .card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        > p {
            margin: 0;
            color: $c-primary;
            font-size: 1.5rem;
            font-family: $f-primary;
            text-align: right;

            > small {
                display: block;
                font-size: .8rem;
                text-transform: uppercase;
                margin-top: 5px;
            }
        }
    }

    > .card-body {
        line-height: 1.55;
        margin-bottom: 35px;
    }

    > .card-footer {
        text-transform: uppercase;
        color: $c-primary;
        font-weight: bold;

        small {
            margin-right: 50px;
        }
    }
}
.section-three > .quote {
    width: 30%;
    margin-left: 65%;
    text-align: center;
    padding: 50px 50px 150px;
    position: relative;

    &::before {
        content: 'â';
        color: $c-primary;
        font-size: 5rem;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        opacity: .8;
    }

    > p {
        text-align: center;
        line-height: 1.55;
        margin-bottom: 25px;
        color: $c-primary;
        opacity: .8;
    }

    > small {
        text-transform: uppercase;
        color: $c-primary;
        font-weight: bold;
    }
}
.section-three > .small-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
}
.small-card-wrapper > .small-card {
    width: 49%;
    background-color: $c-wihte;
    z-index: 10;

    &:nth-of-type(1) {
        margin-right: 50px;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    > .card-body {
        padding: 0 50px 50px;
        color: $c-primary;

        p {
            line-height: 1.55;
            margin: 35px 0;
        }

        a {
            color: $c-primary;
            text-transform: uppercase;
            font-weight: bold;
            font-size: .8rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    .section-three {
        height: 75em;
    }
    .section-three > .small-card-wrapper {
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .section-three {
        height: auto;
        padding-top: 0;
    }
    .section-three > .big-card {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
    }
    .section-three > .quote {
        width: 70%;
        margin: 0 auto;
        padding: 50px;
    }
    .section-three > .small-card-wrapper {
        width: 100%;
        margin-top: 0;
        flex-direction: column;
        align-items: center;

       > .small-card {
        width: 80%;

        &:nth-of-type(1) {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    }
}
@media screen and (max-width: 600px) {
    .section-three > .big-card {
        width: 100%;
    }
    .section-three > .quote {
        width: 90%;
        margin: 0 auto;
    }
}